<!DOCTYPE html>
<html lang="en">
<head>
<title>Samuel fadipe</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="stylesheets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="stylesheets/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="stylesheets/css/chocolat.css" type="text/css" media="screen"><!-- chocolate css for gallery light box-->
<!-- animation -->
<link href="stylesheets/css/animate.css" rel="stylesheet" type="text/css" media="all">
<!-- //animation --> 
<link href="stylesheets/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="stylesheets/js/jquery-1.11.1.min.js"></script>
<script src="stylesheets/js/bootstrap.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<link href="//fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">



<!-- <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="stylesheets/css/mdb.min.css" rel="stylesheet">
</head>



<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"> 
		<!-- header -->
		<div class="header-w3layouts"> 
			<!-- Navigation -->
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Vitae</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a class="navbar-brand" href="index.html">Fadipe</a></h1>
					</div> 
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav navbar-right black">
							<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
							<li class="hidden"><a class="page-scroll" href="#page-top"></a></li>
							<li><a class="page-scroll scroll active" href="#home">Home</a></li>
							<li><a class="page-scroll scroll" href="#about">About</a></li>
							<li><a class="page-scroll scroll" href="#edu">Education</a></li>
							<li><a class="page-scroll scroll" href="#exp">My Skills</a></li>
							<li><a class="page-scroll scroll" href="#contact">Contact</a></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container -->
			</nav>  
		</div>	
		<!-- //header -->
		<div class="header jarallax" id="home">
			<div class="container">
				<div class="banner-text text-center">
					<span class=" white-text font-weight-bold" style="font-size: 60px; font-weight: bold;">FADIPE SAMUEL R.</span>
					<h3>Ag. Head, Information and Communication Technology Centre, Lagos State University</h3>
					<!-- <p class=""> My Professions are Software development, Database administration and Data security and authentication. 
                     </p> -->
					
				</div>	
				
			</div>
			
		</div>
		
	<div class="about" id="about">
		<div class="container">	
                <h3 class="w3l-heading" style="font-size:34px;">About me</h3>
                
                <div class="row">
                    <div class="col-md-3 wow fadeInLeft">
                        <img src="stylesheets/images/WhatsApp Image 2018-12-18 at 8.28.07 AM.jpeg" class="img-fluid" style="height: 400px;" alt="about-img"/>
                    </div>
                    <div class="col-md-9">
                           <h1 class="text-center wow fadeInLeft h1">BIOGRAPHY</h1>
                           <p align="justify">
                            Fadipe Samuel R is a programmer/system analyst, the first Data Centre Manager in Ekiti State and also the current Ag. Head,
                             Information and Communication Technology Centre (ICTC), Lagos State University. He had previously worked with the Federal University Oye,
                             Ekiti State Government, REMSUND Nigeria LTD and Steps and Associates Limited, Kaduna during his youth service year. 
                           </p>
                           <p align="justify">
                            A gentle and unassuming fellow, he started his education at Dosunmu Primary School, Eleja School Complex in Itire Surulere Lagos.
                             He proceeded to Obele Community Secondary School, Randle Avenue and then to Aunty Ayo Preparatory School for his Junior Secondary Education before proceeding to the prestigious St. Gregory’s College,
                             Obalende where he completed his Secondary School education.
                           </p>
                           <p align="justify">
                            Professionally, he has accomplished so many feats in the area of application development.
                             Notable among his works include the development and deployment of “Ekiti Social Security Scheme” software – used for data capturing and rating of 
                             senior citizens record used in selecting aged citizens that would qualify for government intervention during the first term of Fayemi administration in Ekiti state. At Federal University Oye, he developed a biometric verification application for PUTME candidates name “FUOYE PUTME App; he also developed “Attendant Manager”, a biometric application used in marking student attendance for engineering practical classes. At REMSUN Nigeria LTD, he was part of the team that developed REMIS (REMSUND Education Managemnt Information System),
                             RNL GL (REMSUND General Ledger System), GADBS (Gani Fawehinmi Autobiography Database System). 
                           </p>
                        </div>
                </div>
			
			<div class="clearfix"></div>
		</div>
    </div>


	<div id="edu" class="agile-edu">
		<div class="container">	
				<h3 class="w3l-heading">Education</h3>


                <div class="row">
                        
                        <div class="col-md-7">
                               <h1 class="text-center wow fadeInLeft h1">My Information</h1>
                               <p>
                                    I'm a web designer / developer based in Toronto, Canada. I have a passion for web design and love to create for web and mobile devices.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit interdum rutrum. Cras tincidunt rhoncus turpis. Nulla elit nibh, vehicula vitae tortor a, fermentum euismod erat. Phasellus vel eros sed sem luctus fringilla sed eleifend eros. Sed et elementum lectus. Aenean ultrices pharetra vestibulum. Praesent a turpis sed nunc auctor vehicula id a sapien. Proin at nulla commodo, pretium enim et, fringilla elit.
                                    I'm a web designer / developer based in Toronto, Canada. I have a passion for web design and love to create for web and mobile devices.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit interdum rutrum. Cras tincidunt rhoncus turpis. Nulla elit nibh, vehicula vitae tortor a, fermentum euismod erat. Phasellus vel eros sed sem luctus fringilla sed eleifend eros. Sed et elementum lectus. Aenean ultrices pharetra vestibulum. Praesent a turpis sed nunc auctor vehicula id a sapien. Proin at nulla commodo, pretium enim et, fringilla elit.
    
                               </p>
                            </div>
                            
                            <div class="col-md-5">
                            <img src="stylesheets/images/3.jpg" class="img-fluid" style="height: 400px;" alt="about-img"/>
                        </div>
                    </div>
		
			
			<span class="edu-circle"></span>
			</div>
		</div>
    </div>
    



<div class="agile-border">
	<span></span>
</div>
	<div id="exp" class="agile-edu exp">
		<div class="container">	
                <h3 class="w3l-heading">My Skills</h3>
                
        <div class="row">      
                    <div class="col-md-4">
                        <h1 class="text-center wow fadeInLeft h1">My Information</h1>
                        <p>
                            I'm a web designer / developer based in Toronto, Canada. I have a passion for web design and love to create for web and mobile devices.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit interdum rutrum. Cras tincidunt rhoncus turpis. Nulla elit nibh, vehicula vitae tortor a, fermentum euismod erat. Phasellus vel eros sed sem luctus fringilla sed eleifend eros. Sed et elementum lectus. Aenean ultrices pharetra vestibulum. Praesent a turpis sed nunc auctor vehicula id a sapien. Proin at nulla commodo, pretium enim et, fringilla elit.
            
                        </p>
                    </div>
                    <div class="col-md-4">
                            <h1 class="text-center wow fadeInLeft h1">My Information</h1>
                            <p>
                                I'm a web designer / developer based in Toronto, Canada. I have a passion for web design and love to create for web and mobile devices.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit interdum rutrum. Cras tincidunt rhoncus turpis. Nulla elit nibh, vehicula vitae tortor a, fermentum euismod erat. Phasellus vel eros sed sem luctus fringilla sed eleifend eros. Sed et elementum lectus. Aenean ultrices pharetra vestibulum. Praesent a turpis sed nunc auctor vehicula id a sapien. Proin at nulla commodo, pretium enim et, fringilla elit.
                              
                            </p>
                        </div>
                        <div class="col-md-4">
                                <h1 class="text-center wow fadeInLeft h1">My Information</h1>
                                <p>
                                    I'm a web designer / developer based in Toronto, Canada. I have a passion for web design and love to create for web and mobile devices.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit interdum rutrum. Cras tincidunt rhoncus turpis. Nulla elit nibh, vehicula vitae tortor a, fermentum euismod erat. Phasellus vel eros sed sem luctus fringilla sed eleifend eros. Sed et elementum lectus. Aenean ultrices pharetra vestibulum. Praesent a turpis sed nunc auctor vehicula id a sapien. Proin at nulla commodo, pretium enim et, fringilla elit.
                                
                                </p>
                            </div>       
            </div>

            <div class="row">      
                    <div class="col-md-4">
                        <h1 class="text-center wow fadeInLeft h1">My Information</h1>
                        <p>
                            I'm a web designer / developer based in Toronto, Canada. I have a passion for web design and love to create for web and mobile devices.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit interdum rutrum. Cras tincidunt rhoncus turpis. Nulla elit nibh, vehicula vitae tortor a, fermentum euismod erat. Phasellus vel eros sed sem luctus fringilla sed eleifend eros. Sed et elementum lectus. Aenean ultrices pharetra vestibulum. Praesent a turpis sed nunc auctor vehicula id a sapien. Proin at nulla commodo, pretium enim et, fringilla elit.
            
                        </p>
                    </div>
                    <div class="col-md-4">
                            <h1 class="text-center wow fadeInLeft h1">My Information</h1>
                            <p>
                                I'm a web designer / developer based in Toronto, Canada. I have a passion for web design and love to create for web and mobile devices.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit interdum rutrum. Cras tincidunt rhoncus turpis. Nulla elit nibh, vehicula vitae tortor a, fermentum euismod erat. Phasellus vel eros sed sem luctus fringilla sed eleifend eros. Sed et elementum lectus. Aenean ultrices pharetra vestibulum. Praesent a turpis sed nunc auctor vehicula id a sapien. Proin at nulla commodo, pretium enim et, fringilla elit.
                              
                            </p>
                        </div>
                        <div class="col-md-4">
                                <h1 class="text-center wow fadeInLeft h1">My Information</h1>
                                <p>
                                    I'm a web designer / developer based in Toronto, Canada. I have a passion for web design and love to create for web and mobile devices.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit interdum rutrum. Cras tincidunt rhoncus turpis. Nulla elit nibh, vehicula vitae tortor a, fermentum euismod erat. Phasellus vel eros sed sem luctus fringilla sed eleifend eros. Sed et elementum lectus. Aenean ultrices pharetra vestibulum. Praesent a turpis sed nunc auctor vehicula id a sapien. Proin at nulla commodo, pretium enim et, fringilla elit.
                                
                                </p>
                            </div>       
            </div>
    
    
	</div>
</div>




<div id="contact" class="w3_agileits-contact">
		<div class="container">	
				<h3 class="w3l-heading">contact</h3>
				<div class="w3_agile-contact  jarallax text-center">
					<form action="#" method="get">
						<input type="text" placeholder="Name" name="name" class="name" required>
						<input type="text" placeholder="Phone Number" name="phone" class="name" required>
						<input type="email" placeholder="Email" name="email" class="email" required>
						<textarea name="message" placeholder="Message"></textarea>
						<input type="submit" value="send">
					</form>
				
					
				</div>
		</div>	
</div>	
<div class="black text-center">
        <ul class="social-icons-w3_agile" style="font-size: 30px;">
                <li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
                <li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
                <li><a href="#" class="fa fa-instagram icon icon-border "> </a></li>
                <li><a href="#" class="fa fa-youtube icon icon-border"> </a></li>
                <li><a href="#" class="fa fa-snapchat icon icon-border"> </a></li>
                <li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
            </ul>        
   
    </div>

    <div class="black text-center">
        <div class="row container">
            <div class="col-md-4 container">
                	
					<p>Other informations and details</p>
                    <h5>yahoomail.com</h5>
                    <h5>gmail.com</h5>
                    <h5>Other website added</h5>
            </div>
            <div class="col-md-4 container">
                
					<p>Other informations and details</p>
					<p>Other informations and details</p>
                    <p>Other informations and details</p>
                    <p>Other informations and details</p>
                    <p>Other informations and details</p>
                    <p>Other informations and details</p>
					
            </div>
            <div class="col-md-4 container">
                
                    <p>Other informations and details</p>
                    <p>Other informations and details</p>
                    <p>Other informations and details</p>
                    <p>Other informations and details</p>
                    <p>Other informations and details</p>
					
            </div>
               
        </div>
    </div>

<div class="agileits_w3layouts-footer text-center">
	<div class="container">
		<p>Copyright &copy; 2018, Samdos</p>
	</div>
</div>	


<script src="stylesheets/js/jquery.chocolat.js"></script>
<script src="stylesheets/js/jquery.filterizr.js"></script>
<script src="stylesheets/js/controls.js"></script>	
<script type="text/javascript" src="stylesheets/js/easing.js"></script>
<script src="stylesheets/js/jarallax.js"></script>
<script src="stylesheets/js/SmoothScroll.min.js"></script>
<script src="stylesheets/js/jquery-1.11.1.min.js"></script>
<script src="stylesheets/bootstrap/js/bootstrap.min.js"></script>
<script src="stylesheets/js/jquery.backstretch.min.js"></script>
<script src="stylesheets/js/wow.min.js"></script>
<script src="stylesheets/js/retina-1.1.0.min.js"></script>
<script src="stylesheets/js/scripts.js"></script>





<script type="text/javascript" src="stylesheets/js/jquery.cookie.js"></script>
<script type="text/javascript" src="stylesheets/js/styleswitch.js"></script> 
<script src="stylesheets/js/jquery.fractionslider.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="stylesheets/js/jquery.smartmenus.min.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.smartmenus.bootstrap.min.js"></script>
<script type="text/javascript" src="stylesheets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="stylesheets/js/jflickrfeed.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.easypiechart.min.js"></script>
<script type="text/javascript" src="stylesheets/js/swipe.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery-scrolltofixed-min.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.matchHeight-min.js"></script>


<script type="text/javascript">
	$('.jarallax').jarallax({
		speed: 0.5,
		imgWidth: 1366,
		imgHeight: 768
	})
</script>
	<script type="text/javascript">
        $(function() {
            $('.filtr-item a').Chocolat();
        });
    </script>
    <script type="text/javascript">
        $(function() {
            $('.filtr-container').filterizr();
        });
    </script>
	

</body>
</html>