<!DOCTYPE html>
<html lang="en">
<head>
<title>Samuel - fadipe: An oustanding man</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>

<link href="stylesheets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="stylesheets/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="stylesheets/css/chocolat.css" type="text/css" media="screen"><!-- chocolate css for gallery light box-->
<!-- animation -->
<link href="stylesheets/css/animate.css" rel="stylesheet" type="text/css" media="all">
<!-- //animation --> 
<link href="stylesheets/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="stylesheets/js/jquery-1.11.1.min.js"></script>
<script src="stylesheets/js/bootstrap.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
  <link href="stylesheets/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/css/mdb.css">
</head>



<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"> 
		<!-- header -->
		<div class="header-w3layouts"> 
			<!-- Navigation -->
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Vitae</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a class="navbar-brand" href="index.html">Fadipe</a></h1>
					</div> 
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav navbar-right black">
							<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
							<li class="hidden"><a class="page-scroll" href="#page-top"></a></li>
							<li><a class="page-scroll scroll active" href="#home">Home</a></li>
							<li><a class="page-scroll scroll" href="#about">About</a></li>
                            <li><a class="page-scroll scroll" href="#edu">Education</a></li>
                            <li><a class="page-scroll scroll" href="#afl">Affliation</a></li>
                            <li><a class="page-scroll scroll" href="#exp">Experience</a></li>
							<li><a class="page-scroll scroll" href="#contact">Contact</a></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container -->
			</nav>  
		</div>	
		<!-- //header -->
		<div class="header jarallax" id="home">
			<div class="container">
				<div class="banner-text text-center">
					<span class=" white-text font-weight-bold" style="font-size: 60px; font-weight: bold;">FADIPE SAMUEL R.</span>
					<h3>Ag. Head, Information and Communication Technology Centre, Lagos State University</h3>
					<!-- <p class=""> My Professions are Software development, Database administration and Data security and authentication. 
                     </p> -->
					
				</div>	
				
			</div>
			
		</div>
		
	<div class="about" id="about">
		<div class="container">	
                <h3 class="w3l-heading" style="font-size:34px;">About me</h3>
                
                <div class="row">
                    <div class="col-md-3 wow fadeInLeft">
                        <img src="stylesheets/images/WhatsApp Image 2018-12-18 at 8.28.07 AM.jpeg" class="img-fluid" style="height: 400px;" alt="about-img"/>
                    </div>
                    <div class="col-md-9">
                           <h1 class="text-center wow fadeInLeft h1">BIOGRAPHY</h1>
                           <p align="justify">
                            Fadipe Samuel R is a programmer/system analyst, the first Data Centre Manager in Ekiti State and also the current Ag. Head,
                             Information and Communication Technology Centre (ICTC), Lagos State University. He had previously worked with the Federal University Oye,
                             Ekiti State Government, REMSUND Nigeria LTD and Steps and Associates Limited, Kaduna during his youth service year. 
                           </p>
                           <p align="justify">
                            A gentle and unassuming fellow, he started his education at Dosunmu Primary School, Eleja School Complex in Itire Surulere Lagos.
                             He proceeded to Obele Community Secondary School, Randle Avenue and then to Aunty Ayo Preparatory School for his Junior Secondary Education before proceeding to the prestigious St. Gregory’s College,
                             Obalende where he completed his Secondary School education.
                           </p> <br>
                           <p align="justify">
                            Professionally, he has accomplished so many feats in the area of application development.
                             Notable among his works include the development and deployment of “Ekiti Social Security Scheme” software – used for data capturing and rating of 
                             senior citizens record used in selecting aged citizens that would qualify for government intervention during the first term of Fayemi administration in Ekiti state. At Federal University Oye, he developed a biometric verification application for PUTME candidates name “FUOYE PUTME App; he also developed “Attendant Manager”, a biometric application used in marking student attendance for engineering practical classes. At REMSUN Nigeria LTD, he was part of the team that developed REMIS (REMSUND Education Managemnt Information System),
                             RNL GL (REMSUND General Ledger System), GADBS (Gani Fawehinmi Autobiography Database System). 
                           </p>
                        </div>
                        <div class="col-md-12">
                            <p align="justify">At various times, he had assisted various agencies of government to deploy solution needed to solve their immediate needs at a particular point in time. Some of them include the development of “DevPlan” and “PeerAnalyst” applications 
                                used by National Bureau of Statistics (Ado Ekiti Office) and Ekiti State Bureau of Statistics respectively to manage and analyse data collected from fields during surveys conducted by them.
                            </p>
                            <p align="justify">
                                    Apart from developing applications, he is also involved in transferring knowledge and mentoring students in the field of information technology.
                                     He has assisted so many students define their path in the field of Information Technology through various means such as organizing free training programmes, collaboration in the area of researches and project works. He was at various times part-time lecturer at Federal Polytechnic, Ado Ekiti and Ekiti State Business School.
                                     At Federal Polytechnic, he taught students Visual Basic programming and was the CIT instructor for Association of National Accountants of Nigeria (ANAN). 
                            </p>
                            <p align="justify">
                                    He is an active member of both Nigeria Computer society (NCS) and Computer Professional Registration Council of Nigeria (CPN). 
                                    He was instrumental to the formation of the chapter in Ekiti State and was formerly the Assistant Secretary General of the state chapter and also the state chapter coordinator of Olatunji Odegbami IT Competition for Tertiary Students and Whiz Kids competition for Secondary School students. During his tenor as State Chapter Coodinator, he was able to win prizes for the state at Zonal and National Level.
                                    Fadipe Samuel R is happily married to Foluke Oladunni and they are blessed with godly and wonderful children.
                            </p>

                            <div>
                                <div class="w3l-button">
                                    <a href="#" data-toggle="modal" data-target="#myModal">check out my profile</a>
                                </div>
                            </div>
                        </div>
                </div>
			
			<div class="clearfix"></div>
		</div>
    </div>

    <!-- modal -->
	<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header"> 
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
						<h4 class="modal-title">FADIPE</h4>
				</div> 
				<div class="modal-body">
					<div class="about"> 
						<div class="col-md-4 col-sm-4  col-xs-4 about-left ">
							<img src="stylesheets/images/WhatsApp Image 2018-12-18 at 8.28.07 AM.jpeg" class="img-responsive" alt=""/>
						</div>
						<div class="col-md-8 col-sm-8 col-xs-8 about-right wthree">
							<h3>Hi, I'M <span>FADIPE SAMUEL R. </span></h3>
							<h4>Ag. Head, Information and Communication Technology Centre </h4>
							<ul class="address">
								<li>
									<ul class="agileits-address-text ">
										<li><b>D.O.B</b></li>
										<li>23-06-1980</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>PHONE </b></li>
										<li>+00 111 222 3333</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>ADDRESS </b></li>
										<li>123 Victoria Island, Lekki, Lagos State, Nigeria.</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>E-MAIL </b></li>
										<li><a href="mailto:samuel.fadipe@lasu.edu.ng">samuel.fadipe@lasu.edu.ng</a></li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>WEBSITE: </b></li><br>
										<li><a href="http://samuelfadipe.com">Samuelfadipe.com </a></li>
									</ul>
								</li>
							</ul> 
						</div> 
						<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	</div>
    <!-- //modal -->
    
    
<!--Education-->
<div id="edu" class="agile-edu">
    <div class="container">	
            <h3 class="w3l-heading">Education</h3>
        <div class="work-info"> 
            <div class="col-md-6 col-sm-6 col-xs-6 work-right work-right2"> 
            </div>
            <div class="col-md-6  col-sm-6 col-xs-6  work-left work-left2"> 
                <div class="col-md-6  col-sm-6 col-xs-6  work1">
                    <h4>Bachelor of Science</h4>
                    <p>Computer Science Department</p>
                    <p>University of Ado Ekiti (UNAD) (now, Ekiti State University [EKSU]), 2000</p>
                </div>
                    
                <div class="col-md-6  col-sm-6 col-xs-6  work2">
                    <h5> University</h5>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="work-info"> 
            <div class="col-md-6  col-sm-6 col-xs-6"> 
            </div>
            <div class="col-md-6  col-sm-6 col-xs-6  work-right"> 
                <div class="col-md-6  col-sm-6 col-xs-6 work2">
                    <span></span>
                    <h5>Secondary School</h5>
                </div>	
                <div class="col-md-6  col-sm-6 col-xs-6  work-right1">
                    <h4>S.S.C.E</h4>
                    <p>St. Gregory’s College, Obalende, Lagos, 1992</p>
                </div>
            </div>
            <div class="clearfix"> </div>
            <span class="edu-circle"></span>
        </div>
    </div>
</div>
<!--//Education-->

<!--Affliation-->
<div id="afl" class="agile-edu">
    <div class="container">	
            <h3 class="w3l-heading">Affliations</h3>
        <div class="work-info"> 
            <div class="col-md-6 col-sm-6 col-xs-6 work-right work-right2"> 
            </div>
            <div class="col-md-6  col-sm-6 col-xs-6  work-left work-left2"> 
                <div class="col-md-6  col-sm-6 col-xs-6  work1">
                    <p>Computer Professional Registration Council of Nigeria (CPN) <br><br><br><br></p>
                </div>
                    
                <div class="col-md-6  col-sm-6 col-xs-6  work2">
                    <h5> Member</h5>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="work-info"> 
            <div class="col-md-6  col-sm-6 col-xs-6"> 
            </div>
            <div class="col-md-6  col-sm-6 col-xs-6  work-right"> 
                <div class="col-md-6  col-sm-6 col-xs-6 work2">
                    <span></span>
                    <h5>Member</h5>
                </div>	
                <div class="col-md-6  col-sm-6 col-xs-6  work-right1">
                    <p>Nigeria Computer Society (NCS) <br><br><br><br></p>
                </div>
            </div>
            <div class="clearfix"> </div>
            <span class="edu-circle"></span>
        </div>
    </div>
</div>
<!--//Affliation-->
    
<div class="agile-border">
	<span></span>
</div>
<!-- work-experience-->
	<div id="exp" class="agile-edu exp">
		<div class="container">	
				<h3 class="w3l-heading">Experience</h3>
			<div class="work-info"> 
				<div class="col-md-6  col-sm-6 col-xs-6  work-right work-right2"> 
				</div>
				<div class="col-md-6  col-sm-6 col-xs-6  work-left work-left2"> 
					<div class="col-md-6  col-sm-6 col-xs-6  work1">
						<h4>POSITION 1</h4>
						<p>Name of company, address, location, country <br>additional information <br><br><br></p></div>
					<div class="col-md-6  col-sm-6 col-xs-6 work2">
						<h5> Company Name</h5>
						<span></span>
					</div>
				</div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6  col-sm-6 col-xs-6 "> 
				</div>
				<div class="col-md-6  col-sm-6 col-xs-6 work-right"> 
					<div class="col-md-6 col-sm-6 col-xs-6 work2">
						<span></span>
						<h5>Company Name</h5>
					</div>	
					<div class="col-md-6  col-sm-6 col-xs-6 work-right1">
                        <h4>POSITION 2</h4>
						<p>Name of company, address, location, country <br>additional information <br><br><br></p></div>
					</div>
				</div>
				<div class="clearfix"> </div>
			
			<div class="work-2">
			<div class="work-info"> 
				<div class="col-md-6  col-sm-6 col-xs-6 work-right work-right2"> 
				</div>
				<div class="col-md-6  col-sm-6 col-xs-6  work-left work-left2 "> 
					<div class="col-md-6  col-sm-6 col-xs-6 work1">
                        <h4>POSITION 3</h4>
						<p>Name of company, address, location, country <br>additional information <br><br><br></p></div>
					<div class="col-md-6  col-sm-6 col-xs-6  work2">
						<h5> Company Name</h5>
						<span></span>
					</div>
				</div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6  col-sm-6 col-xs-6 "> 
				</div>
				<div class="col-md-6  col-sm-6 col-xs-6 work-right"> 
					<div class="col-md-6  col-sm-6 col-xs-6 work2">
						<span></span>
						<h5>Company Name</h5>
					</div>	
					<div class="col-md-6  col-sm-6 col-xs-6 work-right1">
						<h4>POSITION 4</h4>
						<p>Name of company, address, location, country <br>additional information <br><br><br></p></div>
				</div>
				<div class="clearfix"> </div>
			</div>
            <span class="edu-circle"></span>
            
        </div>
		</div>
	</div>
</div>
<!--//work-experience-->




<div id="contact" class="w3_agileits-contact">
		<div class="container">	
				<h3 class="w3l-heading">contact</h3>
				<div class="w3_agile-contact  jarallax text-center">
					<form action="#" method="get">
						<input type="text" placeholder="Name" name="name" class="name" required>
						<input type="text" placeholder="Phone Number" name="phone" class="name" required>
						<input type="email" placeholder="Email" name="email" class="email" required>
						<textarea name="message" placeholder="Message"></textarea>
						<input type="submit" value="send">
					</form>
				
					
				</div>
		</div>	
</div>	
<div class="black text-center">
        <ul class="social-icons-w3_agile" style="font-size: 30px;">
                <li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
                <li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
                <li><a href="#" class="fa fa-instagram icon icon-border "> </a></li>
                <li><a href="#" class="fa fa-youtube icon icon-border"> </a></li>
                <li><a href="#" class="fa fa-snapchat icon icon-border"> </a></li>
                <li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
            </ul>        
   
    </div>

    <div class="black text-center">
        <div class="row container">
            <div class="col-md-4 mb-5">
                    
                    <br>
                	<h4>OFFICE ADDRESS</h4>
					<p>Information and Communication<br> Technology Centre,</p>
                    <p>Lagos State University,</p>
                    <p> PMB 0001, LASU Post Office,</p>
                    <p>Ojo, Lagos State,</p>
                    <p>Nigeria.</p><br>
            </div>
            <div class="col-md-4 mb-5">
                <br>
					<h4>HOME ADDRESS</h4>
					<p>Information and Communication<br> Technology Centre,</p>
                    <p>Lagos State University,</p>
                    <p> PMB 0001, LASU Post Office,</p>
                    <p>Ojo, Lagos State,</p>
                    <p>Nigeria.</p><br>
            </div>
            <div class="col-md-4 ">
                <br>
                <h4>CONTACT</h4>
                <p>+234 123 456 789</p>
                <p>+234 123 456 789</p>
                <p>+234 123 456 789</p><br>
                <h4>EMAIL</h4>
                <p>samuel.fadipe@lasu.edu.ng</p>
                <p>samuel.fadipe@lasu.edu.ng</p><br>
                <h4>WEBSITE</h4>
                <p>samuelfadipe.com</p>
                <p>fadipesamuel.com.ng</p><br>
					
            </div>
               
        </div>
    </div>

<div class="agileits_w3layouts-footer text-center">
	<div class="container">
		<p>Copyright &copy; 2018, <a href="https://w3layouts.com">W3layouts</a><br><a href="http://samdos.herokuapp.com">Samdos Technology</a></p>
	</div>
</div>	


<script src="stylesheets/js/jquery.chocolat.js"></script>
<script src="stylesheets/js/jquery.filterizr.js"></script>
<script src="stylesheets/js/controls.js"></script>	
<script type="text/javascript" src="stylesheets/js/easing.js"></script>
<script src="stylesheets/js/jarallax.js"></script>
<script src="stylesheets/js/SmoothScroll.min.js"></script>
<script src="stylesheets/js/jquery-1.11.1.min.js"></script>
<script src="stylesheets/bootstrap/js/bootstrap.min.js"></script>
<script src="stylesheets/js/jquery.backstretch.min.js"></script>
<script src="stylesheets/js/wow.min.js"></script>
<script src="stylesheets/js/retina-1.1.0.min.js"></script>
<script src="stylesheets/js/scripts.js"></script>





<script type="text/javascript" src="stylesheets/js/jquery.cookie.js"></script>
<script type="text/javascript" src="stylesheets/js/styleswitch.js"></script> 
<script src="stylesheets/js/jquery.fractionslider.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="stylesheets/js/jquery.smartmenus.min.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.smartmenus.bootstrap.min.js"></script>
<script type="text/javascript" src="stylesheets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="stylesheets/js/jflickrfeed.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.easypiechart.min.js"></script>
<script type="text/javascript" src="stylesheets/js/swipe.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery-scrolltofixed-min.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.matchHeight-min.js"></script>


<script src="stylesheets/js/jquery.chocolat.js"></script>
		<script type="text/javascript">
			$(function() {
				$('.filtr-item a').Chocolat();
			});
		</script>
	<!-- //PopUp-Box-JavaScript -->	
	<!-- fliter-JavaScript -->
		<script src="stylesheets/js/jquery.filterizr.js"></script>
		<script src="stylesheets/js/controls.js"></script>
		<script type="text/javascript">
			$(function() {
				$('.filtr-container').filterizr();
			});
		</script>
	<!-- //fliter-JavaScript -->
<script src="stylesheets/js/jarallax.js"></script>
<script src="stylesheets/js/SmoothScroll.min.js"></script>
<script type="text/javascript">
	/* init Jarallax */
	$('.jarallax').jarallax({
		speed: 0.5,
		imgWidth: 1366,
		imgHeight: 768
	})
</script>
<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="stylesheets/js/easing.js"></script>


<script type="text/javascript">
	$('.jarallax').jarallax({
		speed: 0.5,
		imgWidth: 1366,
		imgHeight: 768
	})
</script>
	<script type="text/javascript">
        $(function() {
            $('.filtr-item a').Chocolat();
        });
    </script>
    <script type="text/javascript">
        $(function() {
            $('.filtr-container').filterizr();
        });
    </script>
	

</body>
</html>